.grid
  display: flex
  flex-flow: row wrap
  justify-content: space-between


  .grid-elt
    background-color: #fafafa
    flex-basis: 30%
    text-align: center
    margin: 1em
    padding: .25em

    div
      padding: .5em
