
code
  display: block
  white-space: pre-line
  word-break: break-all
  border: 1px solid black

a.badge
  text-decoration: none !important

span.badge
  background-color: #999999 !important

.pygal
  width: 100%
  max-height: 800px
