{% extends "../_base.html" %}


{% block main %}
  {% set project = config['projects'][id] %}
  <h2>{{ project['name'] }} build #{{ idx }}</h2>
  <code class="out" data-id="{{ id }}" data-idx="{{ idx }}">

  </code>
  <a href="{{ reverse_url('Index') }}"> Project list</a>
  <a href="{{ reverse_url('ProjectEdit', id) }}"> Edit {{ project['name'] }}</a>
  <a href="{{ reverse_url('ProjectDelete', id) }}"> Delete {{ project['name'] }}</a>
{% end %}

{% block js %}
  <script src="{{ static_url('log.js') }}"></script>
{% end %}
