{% extends "../_base.html" %}


{% block main %}
  <section class="row">
    <h2>{{ project.name }}</h2>

    <article class="col-md-10">
      <p>
        {{ project.description }}
      </p>
      <embed class="pygal" type="image/svg+xml" src="{{ reverse_url('ProjectChartTime', project.project_id) }}" />
      {% for chart in server.components.project_charts %}
        <embed class="pygal" type="image/svg+xml" src="{{ reverse_url(chart.__name__, project.project_id) }}" />
      {% end %}
    </article>
    <article class="col-md-2 block" data-block="history" data-args="/{{ project.project_id }}"></article>
  </section>
{% end %}

{% block nav %}
  <li><a href="{{ reverse_url('Index') }}"> Project list</a></li>
  <li><a href="{{ reverse_url('ProjectEdit', project.project_id) }}"> Edit {{ project.name }}</a></li>
  <li><a href="{{ reverse_url('ProjectDelete', project.project_id) }}"> Delete {{ project.name }}</a></li>
{% end %}
