<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your Modern Continous Integration server">
    <meta name="author" content="Florian Mounier, Kozea">
    <link rel="shortcut icon" href="{{ static_url('images/favicon.png') }}">
    <link rel="stylesheet" href="{{ static_url('base.css') }}">

    <title>YMCI server</title>
  </head>

  {% from ymci import config %}

  <body>
    <section>
      {% block main %}{% end %}
    </section>
    <script src="{{ static_url('main.js') }}"></script>
    {% block js %}{% end %}
  </body>
</html>
