<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your Modern Continous Integration server">
    <meta name="author" content="Florian Mounier, Kozea">
    <link rel="shortcut icon" href="{{ static_url('images/favicon.png') }}">
    {% block css %}{% end %}
    <link rel="stylesheet" href="{{ static_url('lumen-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('base.css') }}">

    <title>YMCI server</title>
  </head>

  {% from ymci import server %}
  {% set builder = server.builder %}

  <body data-page="{{ handler.__class__.__name__ }}">
    <header class="navbar navbar-default">
      <nav class="container">
        <div class="nav navbar-header">
          <a class="navbar-brand" href="/">YMCI</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="{{ reverse_url('ProjectList') }}">Project list</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://kozea.fr/">Kozea</a></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      {% block main %}{% end %}
    </main>

    <footer class="container">
      <nav class="navbar navbar-bottom">
        <ul class="pager">
          <li class="previous"><a href="/">← Back</a></li>
          {% block nav %}{% end %}
        </ul>
      </nav>
    </footer>
    <script src="{{ static_url('jquery-2.1.1.min.js') }}"></script>
    <script src="{{ static_url('blocks.js') }}"></script>
    <script src="{{ static_url('main.js') }}"></script>
    {% block js %}{% end %}
  </body>
</html>
