{% extends "_base.html" %}

{% block main %}
  <h2>Projects</h2>

  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last build</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.last_build.build_id }}</td>
          <td>{{ project.last_build.status }}</td>
          <td>
            <div class="btn-group">
              <a class="btn btn-default" href="{{ reverse_url('ProjectView', project.project_id) }}">View</a>
              <a class="btn btn-default" href="{{ reverse_url('ProjectBuild', project.project_id) }}">Build</a>
              <a class="btn btn-default" href="{{ reverse_url('ProjectLog', project.project_id, '') }}">Log</a>
              <a class="btn btn-default" href="{{ reverse_url('ProjectEdit', project.project_id) }}">Edit</a>
              <a class="btn btn-default" href="{{ reverse_url('ProjectDelete', project.project_id) }}">Delete</a>
            </div>
          </td>
        </tr>
      {% end %}
    </tbody>
  </table>
{% end %}

{% block nav %}
  <li><a href="{{ reverse_url('ProjectAdd') }}"> Add a new project</a></li>
{% end %}
