{% extends "_base.html" %}

{% block main %}
  <h2>Projects</h2>

  <table class="table table-stripped">
    {% for project in projects %}
      <tr>
        <td>{{ project.name }}</td>
        <td><a href="{{ reverse_url('ProjectView', project.project_id) }}">View</a></td>
        <td><a href="{{ reverse_url('ProjectBuild', project.project_id) }}">Build</a></td>
        <td><a href="{{ reverse_url('ProjectLog', project.project_id, '') }}">Log</a></td>
        <td><a href="{{ reverse_url('ProjectEdit', project.project_id) }}">Edit</a></td>
        <td><a href="{{ reverse_url('ProjectDelete', project.project_id) }}">Delete</a></td>
      </tr>
    {% end %}
  </table>
{% end %}

{% block nav %}
  <li><a href="{{ reverse_url('ProjectAdd') }}"> Add a new project</a></li>
{% end %}
