{% include "./_base.html" %}

<h3>Builder</h3>
<ul class="list-group ">
  {% if current_build %}
    <li class="list-group-item">
      {{ current_build.project.name }} <a class="badge" href="{{ reverse_url('ProjectLog', current_build.project.project_id, current_build.build_id) }}">{{ current_build.build_id }}</a>

        <div class="progress">
          <div class="progress-bar build-progress progress-bar-striped active" data-now="{{ now }}" data-end="{{ current_build.project.average_build_duration }}" style="width: 100 * now / current_build.project.average_build_duration }}%;">
          </div>
        </div>
    </li>
    {% for task in server.builder.queue %}
      <li class="list-group-item"><a href="{{ reverse_url('ProjectView', task.build.project.project_id) }}">{{ task.build.project.name }}</a><span class="badge">{{ task.build.build_id + 1 }}</span></li>
    {% end %}
  {% else %}
    <li class="list-group-item">Empty queue</li>
  {% end %}
</ul>
